# Python Requirements

# TODO Change this to django>=2.2 when released (target April 2019)
django >= 2.2a1
channels
tzlocal

# Required for 'channels' dependency 'twisted'.
# Unsure if pyobjc; sys_platform == 'darwin' is required, ignoring for now.
pywin32; sys_platform == 'win32'

django-reversion
