# Python Requirements

# TODO Change this to django>=2.2 when released (target April 2019)
-e git+https://github.com/django/django#egg=django
channels

# Required for 'channels' dependency 'twisted'.
# Unsure if pyobjc; sys_platform == 'darwin' is required, ignoring for now.
pywin32; sys_platform == 'win32'

django-reversion
