{% load static %}<!DOCTYPE html>
<html>
<head>
    <title>Timer Control</title>
    <link rel="stylesheet" href="{% static 'fllfms/timer.css' %}">
    <script src="{% static 'fllfms/timer.js' %}"></script>
    <script>
        window.addEventListener('load', () => {
            const t = new Timer(document.querySelector("#timerid").value, document.querySelector("#timer"));
            window.t = t;
            document.querySelector("#start").addEventListener('click', () => { t.requestaction(1); });
            document.querySelector("#abort").addEventListener('click', () => { t.requestaction(3); });
            document.querySelector("#prestart").addEventListener('click', () => { t.requestaction(0); });
            document.querySelector("#matchprev").addEventListener('click', () => { t.requestmatch(false); });
            document.querySelector("#matchnext").addEventListener('click', () => { t.requestmatch(true); });
        });
    </script>
</head>
<body>
    <input type="hidden" id="timerid" value="{{ object_id }}">
    <button id="matchprev">Prev</button>
    <div id="matchno">-</div>
    <button id="matchnext">Next</button>

    <div id="matchname">Match Name</div>
    <div id="matchplayers">
        <div>1 team xyz</div>
        <div>1 team xyz</div>
    </div>

    <div id="timer">0</div>

    <button id="start">Start</button>
    <button id="abort">Stop</button>
    <button id="prestart">Reload</button>

</body>
</html>
